/Firemaking_Private/nbproject/private/
/Firemaking_Private/build/
/Firemaking_Private/dist/
/Fishing_Private/nbproject/private/
/Fishing_Private/build/
/Fishing_Private/dist/
/Cooking_Private/nbproject/private/
/Cooking_Private/build/
/Cooking_Private/dist/
/Dice_Private/nbproject/private/
/Dice_Private/build/
/Dice_Private/dist/